.DS_Store
._.DS_Store
._Data
._action_log.txt
*/.DS_Store
runs/
tests_3D_unet/
tests_deterministic_seeds/
tests_profiling/
test_postprocessing/
**/*.pyc
**/.ipynb_checkpoints/
notebooks/.ipynb_checkpoints
notebooks/.ipynb_checkpoints/*.ipynb
